<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/parent">
  <head>
    <title>首页</title>
  </head>

  <body>

	<th:block layout:fragment="content">
      <div class="jumbotron">
        <h1>快来享受免费的虚拟主机</h1>
        <p class="lead">我们立志推动中国互联网的发展而努力，所以我们推出免费虚拟主机.我也不知道怎么编了，自己改吧。</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">现在注册使用</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>CPanel管理面板</h4>
          <p>强大的CPANEL为你保驾护航.</p>

          <h4>自定义PHP版本</h4>
          <p>自有的切换4.1-7.0的PHP版本.</p>

          <h4>不知道了</h4>
          <p>自己编点吧.自己编点吧.自己编点吧.自己编点吧.自己编点吧.自己编点吧.</p>
        </div>

        <div class="col-lg-6">
          <h4>不知道了</h4>
          <p>自己编点吧.自己编点吧.自己编点吧.自己编点吧.自己编点吧.自己编点吧.</p>

          <h4>不知道了</h4>
          <p>自己编点吧.自己编点吧.自己编点吧.自己编点吧.自己编点吧.自己编点吧.</p>

          <h4>不知道了</h4>
          <p>自己编点吧.自己编点吧.自己编点吧.自己编点吧.自己编点吧.自己编点吧.</p>
        </div>
      </div>
    </th:block>
    
  </body>
</html>
